*{
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    background-color: gray;
    color: white;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choices{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    gap: 3rem;
}
.choice{
    height: 158px;
    width: 158px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover{
    background-color: gray;
}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 6rem;
}

#user-score, #comp-score{
    font-size: 4rem;
}

.msg-contaner{
    margin-top: 4rem;
}

#msg{
    background-color: gray;
    color: white;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}